{:kotoba.app/id "cloud.itonami.isic-9321", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigbbrn3n4dual6rbp4lojunungm2oi7l3peuvtngoubl7hfwu2h3u", :kotoba.app/embed-url "ipfs://bafkreigbbrn3n4dual6rbp4lojunungm2oi7l3peuvtngoubl7hfwu2h3u", :published {:archive "https://kotobase.net/ipfs/bafkreigbbrn3n4dual6rbp4lojunungm2oi7l3peuvtngoubl7hfwu2h3u", :size 74414, :put-status 201, :get-status 200, :at "2026-08-15T13:37:04.666Z"}}
